<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="./css/backstage.css">
    <script type="text/javascript" src="./script/vue.global.js"></script>
    <script type="text/javascript" src="./script/axios.js"></script>
</head>

<body>
    <div id="backstage">
        <div id="left-panel">
            <div id="left-panel-title">
                🍊面板
            </div>
            <div class="left-panel-block" @click="ChangePanel(0,RefreshPanel)">
                用户管理
            </div>
            <div class="left-panel-block" @click="ChangePanel(1,RefreshPanel,QueryAllBookCategory)">
                书籍类别管理
            </div>
            <div class="left-panel-block" @click="ChangePanel(2,RefreshPanel,QueryAllBook)">
                书籍管理
            </div>
            <div class="left-panel-block" @click="ChangePanel(3,RefreshPanel,QueryAllBookOrder)">
                订单管理
            </div>
            <div class="left-panel-block" @click="ChangePanel(4,RefreshPanel,QueryAllNotice)">
                公告管理
            </div>
        </div>
        <div id="right-panel">
            <div class="right-panel-block" v-if="this.pages[0]">
                <div id="right-search">
                    <input type="text" name="useraccount" v-model="searchAccount">
                    <button @click="SearchUserByAccount()">搜索账号</button>
                </div>
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span>ID</span>
                            <span>账号</span>
                            <span>密码</span>
                            <span>性别</span>
                            <span>电话</span>
                            <span>地址</span>
                            <span>邮箱</span>
                            <span>注册日期</span>
                        </li>
                        <li v-for="(user,index) in searchedUsers" @click="OpenSearchDialog(index)">
                            <span>{{user.id}}</span>
                            <span>{{user.account}}</span>
                            <span>{{user.password}}</span>
                            <span>{{user.gender}}</span>
                            <span>{{user.telephone}}</span>
                            <span>{{user.address}}</span>
                            <span>{{user.email}}</span>
                            <span>{{user.signtime}}</span>
                        </li>
                    </ul>
                </div>
                <div id="right-search-dialog" v-if="searchDialogVisable">
                    <div class="search-dialog-block" style="height:30px">
                        <div id="right-search-dialog-close" @click="CloseSearchDialog()"></div>
                    </div>
                    <div class="search-dialog-block">
                        <span>Uid:</span>
                        <input type="text" v-model="modifyingUser.id">
                    </div>
                    <div class="search-dialog-block">
                        <span>Account:</span>
                        <input type="text" v-model="modifyingUser.account">
                    </div>
                    <div class="search-dialog-block">
                        <span>Password:</span>
                        <input type="text" v-model="modifyingUser.password">
                    </div>
                    <div class="search-dialog-block">
                        <span>Gender:</span>
                        <input type="text" v-model="modifyingUser.gender">
                    </div>
                    <div class="search-dialog-block">
                        <span>Telephone:</span>
                        <input type="text" v-model="modifyingUser.telephone">
                    </div>
                    <div class="search-dialog-block">
                        <span>Address:</span>
                        <input type="text" v-model="modifyingUser.address">
                    </div>
                    <div class="search-dialog-block">
                        <span>Email:</span>
                        <input type="text" v-model="modifyingUser.email">
                    </div>
                    <div class="search-dialog-block">
                        <span>SignTime:</span>
                        <input type="text" v-model="modifyingUser.signtime">
                    </div>
                    <div class="search-dialog-block">
                        <button @click="DeleteUser()">删除</button>
                        <button @click="SaveUserInfo()">保存</button>
                    </div>
                </div>
            </div>
            <div class="right-panel-block" v-if="this.pages[1]">
                <div id="right-search">
                    <input type="text" v-model="willAddBookCategory">
                    <button @click="AddBookCategory()">添加类别</button>
                </div>
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span>类型号</span>
                            <span>类型名</span>
                            <span>操作</span>
                            <span>操作</span>
                        </li>
                        <li v-for="(category,index) in requestBookCategory">
                            <span>{{category.bcno}}</span>
                            <input type="text" v-model="category.categoryName">
                            <button @click="ModifyBookCategory(index)">修改</button>
                            <button @click="DeleteBookCategory(index)">删除</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-panel-block" v-if="this.pages[2]">
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span style="width: 9.1%;" >书籍编号</span>
                            <span style="width: 9.1%;" >书籍名称</span>
                            <span style="width: 9.1%;" >书籍作者</span>
                            <span style="width: 9.1%;" >书籍价格</span>
                            <span style="width: 9.1%;" >书籍类型</span>
                            <span style="width: 9.1%;" >书籍封面</span>
                            <span style="width: 9.1%;" >书籍简介</span>
                            <span style="width: 9.1%;" >出版日期</span>
                            <span style="width: 9.1%;" >操作</span>
                            <span style="width: 9.1%;" >操作</span>
                        </li>
                        <li>
                            <input style="width: 9.1%;" type="text" placeholder="自动生成">
                            <input style="width: 9.1%;" type="text" v-model="willAddBook.bname">
                            <input style="width: 9.1%;" type="text" v-model="willAddBook.bauthor">
                            <input style="width: 9.1%;" type="text" v-model="willAddBook.bprice">
                            <input style="width: 9.1%;" type="text" v-model="willAddBook.bcategory">
                            <input style="width: 9.1%;" type="text" v-model="willAddBook.burl">
                            <input style="width: 9.1%;" type="text" v-model="willAddBook.binfo">
                            <input style="width: 9.1%;" type="text" v-model="willAddBook.bpubdate">
                            <button style="width: 9.1%;" @click="SendBookData('ADD',willAddBook)">添加</button>
                            <button style="width: 9.1%;" @click="
                            willAddBook.bname = '';
                            willAddBook.bauthor = '';
                            willAddBook.bprice = '';
                            willAddBook.bcategory = '';
                            willAddBook.burl = '';
                            willAddBook.binfo = '';
                            willAddBook.bpubdate = '';
                            ">清空</button>
                        </li>
                        <li v-for="(bookUnit,index) in requestBooks">
                            <input style="width: 9.1%;" type="text" v-model="bookUnit.bno">
                            <input style="width: 9.1%;" type="text" v-model="bookUnit.bname">
                            <input style="width: 9.1%;" type="text" v-model="bookUnit.bauthor">
                            <input style="width: 9.1%;" type="text" v-model="bookUnit.bprice">
                            <input style="width: 9.1%;" type="text" v-model="bookUnit.bcategory">
                            <input style="width: 9.1%;" type="text" v-model="bookUnit.burl">
                            <input style="width: 9.1%;" type="text" v-model="bookUnit.binfo">
                            <input style="width: 9.1%;" type="text" v-model="bookUnit.bpubdate">
                            <button style="width: 9.1%;" @click="SendBookData('MOD',bookUnit)">修改</button>
                            <button style="width: 9.1%;" @click="SendBookData('DEL',bookUnit)">删除</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-panel-block" v-if="this.pages[3]">
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span>订单编号</span>
                            <span>确认时间</span>
                            <span>订单价格</span>
                            <span>接收地址</span>
                            <span>接收电话</span>
                            <span>操作</span>
                            <span>操作</span>
                        </li>
                        <li>
                            <input type="text" placeholder="自动生成">
                            <input type="text" v-model="willAddBookOrder.confirmationtime">
                            <input type="text" v-model="willAddBookOrder.totalprice">
                            <input type="text" v-model="willAddBookOrder.address">
                            <input type="text" v-model="willAddBookOrder.telephone">
                            <button @click="SendBookOrderData('ADD',willAddBookOrder)">添加</button>
                            <button @click="
                            willAddBookOrder.confirmationtime = '';
                            willAddBookOrder.totalprice = '';
                            willAddBookOrder.address = '';
                            willAddBookOrder.telephone = '';
                            ">清空</button>
                        </li>
                        <li v-for="(bookOrderUnit,index) in requestBookOrder">
                            <input type="text" v-model="bookOrderUnit.oid">
                            <input type="text" v-model="bookOrderUnit.confirmationtime">
                            <input type="text" v-model="bookOrderUnit.totalprice">
                            <input type="text" v-model="bookOrderUnit.address">
                            <input type="text" v-model="bookOrderUnit.telephone">
                            <button @click="SendBookOrderData('MOD',bookOrderUnit)">修改</button>
                            <button @click="SendBookOrderData('DEL',bookOrderUnit)">删除</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-panel-block" v-if="this.pages[4]">
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span>公告编号</span>
                            <span>公告标题</span>
                            <span>公告日期</span>
                            <span>公告内容</span>
                            <span>操作</span>
                            <span>操作</span>
                        </li>
                        <li>
                            <input type="text" placeholder="自动生成">
                            <input type="text" v-model="willAddNotice.noticeTitle">
                            <input type="text" v-model="willAddNotice.noticeDate">
                            <input type="text" v-model="willAddNotice.noticeContent">
                            <button @click="SendNoticeData('ADD',willAddNotice)">添加</button>
                            <button @click="willAddNotice.noticeTitle = '';willAddNotice.noticeDate = '';willAddNotice.noticeContent='';">清空</button>
                        </li>
                        <li v-for="(noticeUnit,index) in requestNotice">
                            <input type="text" v-model="noticeUnit.nid">
                            <input type="text" v-model="noticeUnit.noticeTitle">
                            <input type="text" v-model="noticeUnit.noticeDate">
                            <input type="text" v-model="noticeUnit.noticeContent">
                            <button @click="SendNoticeData('MOD',noticeUnit)">修改</button>
                            <button @click="SendNoticeData('DEL',noticeUnit)">删除</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        const backstage = Vue.createApp({
            data() {
                return {
                    pages: [false, false, false, false, false],
                    searchAccount: "",
                    searchedUsers: [],
                    searchDialogVisable: false,
                    modifyingUser:{},
                    modifyingUserIndex:0,
                    willAddBookCategory: "",
                    requestBookCategory: [],
                    requestBooks:[],
                    willAddBook:{
                        bno:"",
                        bname:"",
                        bauthor:"",
                        bprice:"",
                        bcategory:"",
                        burl:"",
                        binfo:"",
                        bpubdate:""
                    },
                    requestBookOrder:[],
                    willAddBookOrder:{
                        oid:"",
                        confirmationtime:"",
                        totalprice:"",
                        address:"",
                        telephone:"",
                    },
                    requestNotice:[],
                    willAddNotice:{
                        nid:"",
                        noticeTitle:"",
                        noticeDate:"",
                        noticeContent:""
                    }

                }
            }, methods: {

                ChangePanel(page, func,init) {
                    switch (page) {
                        case 0: func(0); break;
                        case 1: func(1);init();break;
                        case 2: func(2);init();break;
                        case 3: func(3);init();break;
                        case 4: func(4);init();break;
                    }


                },
                RefreshPanel(index) {
                    for (let i = 0; i < this.pages.length; i++) {
                        if (i == index) {
                            this.pages[i] = true;
                        } else {
                            this.pages[i] = false;
                        }

                    }
                    console.log("面板刷新完成");
                },
                SearchUserByAccount() {
                    alert(this.searchAccount);
                    axios({
                        url: "SearchUserServlet",
                        params:
                        {
                            searchAccount: this.searchAccount
                        }
                    }).then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.searchedUsers = data;

                    }).catch((err) => {
                        console.log("账号查询出错了");
                        console.log(err);
                    });
                },
                CloseSearchDialog() {
                    this.searchDialogVisable = false;
                },
                OpenSearchDialog(index) {
                
                    function deepClone(obj) {
                        var _obj = JSON.stringify(obj) 
                        var objClone = JSON.parse(_obj)
                        return objClone
                    }
                    this.searchDialogVisable = true;
                    let buf = this.searchedUsers[index];
                    this.modifyingUser=deepClone(buf);
                    this.modifyingUserIndex = index;
                },
                SaveUserInfo()
                {
                    let bufinfo = this.searchedUsers[this.modifyingUserIndex];
                    let modUser = this.modifyingUser;
                    if(
                        bufinfo.account==modUser.account&&
                        bufinfo.password==modUser.password&&
                        bufinfo.gender==modUser.gender&&
                        bufinfo.telephone==modUser.telephone&&
                        bufinfo.address==modUser.address&&
                        bufinfo.email==modUser.email&&
                        bufinfo.signtime==modUser.signtime
                    )
                    {
                        //没有更改信息
                    }else
                    {   
                        axios({
                            url:"ModifyUserServlet",
                            method:'post',
                            data:
                            {
                                user:modUser
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("用户信息修改成功");
                            }else
                            {
                                alert("用户信息修改失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求修改用户信息出错了");
                            console.log(err);                
                        }); 

                    }


                },
                DeleteUser()
                {
                    alert("确认删除用户");
                    let modUser = this.modifyingUser;
                    console.log(modUser.id);
                    if(modUser.id!=undefined&&modUser.id!=null)
                    {
                        axios({
                            url:"ModifyUserServlet",
                            method:'post',
                            data:
                            {
                                uid:modUser.id
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("用户信息删除成功");
                            }else
                            {
                                alert("用户信息删除失败")
                            }
                        }).catch((err) => {
                            console.log("请求删除用户信息--出错了");
                            console.log(err);                
                        }); 

                    }
                },
                QueryAllBookCategory()
                {
                    axios({
                        url:"ModifyBookCategoryServlet",
                        method:'post',
                        data:
                        {
                            type:'GET-ALL',
                            data: {}
                        }
                    })
                    .then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.requestBookCategory =data;
                        
                    }).catch((err) => {
                        console.log("请求书籍类型-出错了");
                        console.log(err);                
                    }); 
                },
                ModifyBookCategory(index)
                {
                    alert("修改书籍类型"+index);
                    let thisObj = this;
                    let categoryData  = this.requestBookCategory[index];
                    axios({
                            url:"ModifyBookCategoryServlet",
                            method:'post',
                            data:
                            {
                                type:"MOD",
                                data: categoryData
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("书籍类型修改成功");
                                thisObj.QueryAllBookCategory();
                            }else
                            {
                                alert("书籍类型修改失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求修改书籍类型信息--出错了");
                            console.log(err);                
                        }); 
                },
                DeleteBookCategory(index)
                {
                    alert("删除书籍类型"+index);
                    let thisObj = this;
                    let categoryData  = this.requestBookCategory[index];
                    axios({
                            url:"ModifyBookCategoryServlet",
                            method:'post',
                            data:
                            {
                                type:"DEL",
                                data: categoryData
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("书籍类型删除成功");
                                thisObj.QueryAllBookCategory();
                            }else
                            {
                                alert("书籍类型删除失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求删除书籍类型信息--出错了");
                            console.log(err);                
                        }); 
                },
                AddBookCategory()
                {
                    let thisObj = this;
                    alert("添加书籍类型"+this.willAddBookCategory);
                    axios({
                            url:"ModifyBookCategoryServlet",
                            method:'post',
                            data:
                            {
                                type:"ADD",
                                data:{
                                    bcno:0,
                                    categoryName:this.willAddBookCategory
                                }
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("书籍类型添加成功");
                                thisObj.QueryAllBookCategory();
                            }else
                            {
                                alert("书籍类型添加失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求添加书籍类型信息--出错了");
                            console.log(err);                
                        }); 
                },
                QueryAllBook()
                {
                    //alert("查询所有的书籍");
                    axios({
                        url:"ModifyBookServlet",
                            method:'post',
                            data:
                            {
                                type:'GET-ALL',
                                data: {}
                            }
                    })
                    .then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.requestBooks =data;
                        
                    }).catch((err) => {
                        console.log("请求所有书籍-出错了");
                        console.log(err);                
                    }); 
                },
                SendBookData(mtype,mdata)
                {
                    alert("发送书籍数据Type:"+mtype);
                    let thisObj = this;
                    axios({
                            url:"ModifyBookServlet",
                            method:'post',
                            data:
                            {
                                type:mtype,
                                data: mdata
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("书籍数据发送成功");
                                thisObj.QueryAllBook();
                            }else
                            {
                                alert("书籍数据发送失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求修改书籍类型信息--出错了");
                            console.log(err);                
                        }); 
                    
                },
                QueryAllBookOrder()
                {
                    //alert("查询所有的订单");
                    axios({
                        url:"ModifyBookOrderServlet",
                        method:'post',
                        data:
                        {
                            type:'GET-ALL',
                            data: {}
                        }
                    })
                    .then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.requestBookOrder =data;
                        
                    }).catch((err) => {
                        console.log("请求所有订单-出错了");
                        console.log(err);                
                    }); 
                },
                SendBookOrderData(mtype,mdata)
                {
                    alert("发送订单数据Type:"+mtype);
                    let thisObj = this;
                    axios({
                            url:"ModifyBookOrderServlet",
                            method:'post',
                            data:
                            {
                                type:mtype,
                                data: mdata
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("订单数据发送成功");
                                thisObj.QueryAllBookOrder();
                            }else
                            {
                                alert("订单数据发送失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求发送订单数据--出错了");
                            console.log(err);                
                        }); 
                },
                QueryAllNotice()
                {
                    //alert("查询所有的公告");
                    axios({
                        url:"ModifyNoticeServlet",
                        method:'post',
                        data:
                        {
                            type:'GET-ALL',
                            data: {}
                        }
                    })
                    .then((result) => {
                        let data = result.data;
                        console.log(data);  
                        this.requestNotice =data;
                        
                    }).catch((err) => {
                        console.log("请求所有公告-出错了");
                        console.log(err);                
                    }); 
                },
                SendNoticeData(mtype,mdata)
                {
                    alert("发送公告数据Type:"+mtype);
                    let thisObj = this;
                    axios({
                            url:"ModifyNoticeServlet",
                            method:'post',
                            data:
                            {
                                type:mtype,
                                data: mdata
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("公告数据发送成功");
                                thisObj.QueryAllNotice();
                            }else
                            {
                                alert("公告数据发送失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求发送公告数据--出错了");
                            console.log(err);                
                        }); 
                }



            }, mounted() {

            }
        });

        backstage.mount("#backstage");
    </script>
</body>

</html>