<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="./css/backstage.css">
    <script type="text/javascript" src="./script/vue.global.js"></script>
    <script type="text/javascript" src="./script/axios.js"></script>
</head>

<body>
    <div id="backstage">
        <div id="left-panel">
            <div id="left-panel-title">
                🍊面板
            </div>
            <div class="left-panel-block" @click="ChangePanel(0,RefreshPanel)">
                用户管理
            </div>
            <div class="left-panel-block" @click="ChangePanel(1,RefreshPanel,QueryAllFruitCategory)">
                水果类别管理
            </div>
            <div class="left-panel-block" @click="ChangePanel(2,RefreshPanel,QueryAllFruit)">
                水果管理
            </div>
            <div class="left-panel-block" @click="ChangePanel(3,RefreshPanel,QueryAllFruitOrder)">
                订单管理
            </div>
        </div>
        <div id="right-panel">
            <div class="right-panel-block" v-if="this.pages[0]">
                <div id="right-search">
                    <input type="text" name="useraccount" v-model="searchAccount">
                    <button @click="SearchUserByAccount()">搜索账号</button>
                </div>
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span>ID</span>
                            <span>账号</span>
                            <span>密码</span>
                            <span>性别</span>
                            <span>电话</span>
                            <span>地址</span>
                            <span>邮箱</span>
                            <span>注册日期</span>
                        </li>
                        <li v-for="(user,index) in searchedUsers" @click="OpenSearchDialog(index)">
                            <span>{{user.uid}}</span>
                            <span>{{user.account}}</span>
                            <span>{{user.password}}</span>
                            <span>{{user.gender}}</span>
                            <span>{{user.telephone}}</span>
                            <span>{{user.address}}</span>
                            <span>{{user.email}}</span>
                            <span>{{user.signtime}}</span>
                        </li>
                    </ul>
                </div>
                <div id="right-search-dialog" v-if="searchDialogVisable">
                    <div class="search-dialog-block" style="height:30px">
                        <div id="right-search-dialog-close" @click="CloseSearchDialog()"></div>
                    </div>
                    <div class="search-dialog-block">
                        <span>Uid:</span>
                        <input type="text" v-model="modifyingUser.uid">
                    </div>
                    <div class="search-dialog-block">
                        <span>Account:</span>
                        <input type="text" v-model="modifyingUser.account">
                    </div>
                    <div class="search-dialog-block">
                        <span>Password:</span>
                        <input type="text" v-model="modifyingUser.password">
                    </div>
                    <div class="search-dialog-block">
                        <span>Gender:</span>
                        <input type="text" v-model="modifyingUser.gender">
                    </div>
                    <div class="search-dialog-block">
                        <span>Telephone:</span>
                        <input type="text" v-model="modifyingUser.telephone">
                    </div>
                    <div class="search-dialog-block">
                        <span>Address:</span>
                        <input type="text" v-model="modifyingUser.address">
                    </div>
                    <div class="search-dialog-block">
                        <span>Email:</span>
                        <input type="text" v-model="modifyingUser.email">
                    </div>
                    <div class="search-dialog-block">
                        <span>SignTime:</span>
                        <input type="text" v-model="modifyingUser.signtime">
                    </div>
                    <div class="search-dialog-block">
                        <button @click="DeleteUser()">删除</button>
                        <button @click="SaveUserInfo()">保存</button>
                    </div>
                </div>
            </div>
            <div class="right-panel-block" v-if="this.pages[1]">
                <div id="right-search">
                    <input type="text" v-model="willAddFruitCategory">
                    <button @click="AddFruitCategory()">添加类别</button>
                </div>
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span>类型号</span>
                            <span>类型名</span>
                            <span>操作</span>
                            <span>操作</span>
                        </li>
                        <li v-for="(category,index) in requestFruitCategory">
                            <span>{{category.fcno}}</span>
                            <input type="text" v-model="category.categoryName">
                            <button @click="ModifyFruitCategory(index)">修改</button>
                            <button @click="DeleteFruitCategory(index)">删除</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-panel-block" v-if="this.pages[2]">
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span style="width: 9.1%;" >水果编号</span>
                            <span style="width: 9.1%;" >水果名称</span>
                            <span style="width: 9.1%;" >水果价格</span>
                            <span style="width: 9.1%;" >水果类型</span>
                            <span style="width: 9.1%;" >水果封面</span>
                            <span style="width: 9.1%;" >水果简介</span>
                            <span style="width: 9.1%;" >出版日期</span>
                            <span style="width: 9.1%;" >操作</span>
                            <span style="width: 9.1%;" >操作</span>
                        </li>
                        <li>
                            <input style="width: 9.1%;" type="text" placeholder="自动生成">
                            <input style="width: 9.1%;" type="text" v-model="willAddFruit.fname">
                            <input style="width: 9.1%;" type="text" v-model="willAddFruit.fprice">
                            <input style="width: 9.1%;" type="text" v-model="willAddFruit.fcategory">
                            <input style="width: 9.1%;" type="text" v-model="willAddFruit.furl">
                            <input style="width: 9.1%;" type="text" v-model="willAddFruit.finfo">
                            <input style="width: 9.1%;" type="text" v-model="willAddFruit.fpubdate">
                            <button style="width: 9.1%;" @click="SendFruitData('ADD',willAddFruit)">添加</button>
                            <button style="width: 9.1%;" @click="
                            willAddFruit.fname = '';
                            willAddFruit.fprice = '';
                            willAddFruit.fcategory = '';
                            willAddFruit.furl = '';
                            willAddFruit.finfo = '';
                            willAddFruit.fpubdate = '';
                            ">清空</button>
                        </li>
                        <li v-for="(fruitUnit,index) in requestFruits">
                            <input style="width: 9.1%;" type="text" v-model="fruitUnit.fno">
                            <input style="width: 9.1%;" type="text" v-model="fruitUnit.fname">
                            <input style="width: 9.1%;" type="text" v-model="fruitUnit.fprice">
                            <input style="width: 9.1%;" type="text" v-model="fruitUnit.fcategory">
                            <input style="width: 9.1%;" type="text" v-model="fruitUnit.furl">
                            <input style="width: 9.1%;" type="text" v-model="fruitUnit.finfo">
                            <input style="width: 9.1%;" type="text" v-model="fruitUnit.fpubdate">
                            <button style="width: 9.1%;" @click="SendFruitData('MOD',fruitUnit)">修改</button>
                            <button style="width: 9.1%;" @click="SendFruitData('DEL',fruitUnit)">删除</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-panel-block" v-if="this.pages[3]">
                <div id="right-search-Result">
                    <ul>
                        <li>
                            <span>订单编号</span>
                            <span>订单用户</span>
                            <span>订单价格</span>
                            <span>接收地址</span>
                            <span>接收电话</span>
                            <span>操作</span>
                            <span>操作</span>
                        </li>
                        <li>
                            <input type="text" placeholder="自动生成">
                            <input type="text" v-model="willAddFruitOrder.account">
                            <input type="text" v-model="willAddFruitOrder.totalprice">
                            <input type="text" v-model="willAddFruitOrder.address">
                            <input type="text" v-model="willAddFruitOrder.telephone">
                            <button @click="SendFruitOrderData('ADD',willAddFruitOrder)">添加</button>
                            <button @click="
                            willAddFruitOrder.confirmationtime = '';
                            willAddFruitOrder.totalprice = '';
                            willAddFruitOrder.address = '';
                            willAddFruitOrder.telephone = '';
                            ">清空</button>
                        </li>
                        <li v-for="(FruitOrderUnit,index) in requestFruitOrder">
                            <input type="text" v-model="FruitOrderUnit.oid">
                            <input type="text" v-model="FruitOrderUnit.account">
                            <input type="text" v-model="FruitOrderUnit.totalprice">
                            <input type="text" v-model="FruitOrderUnit.address">
                            <input type="text" v-model="FruitOrderUnit.telephone">
                            <button @click="SendFruitOrderData('MOD',FruitOrderUnit)">修改</button>
                            <button @click="SendFruitOrderData('DEL',FruitOrderUnit)">删除</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        const backstage = Vue.createApp({
            data() {
                return {
                    pages: [false, false, false, false, false],
                    searchAccount: "",
                    searchedUsers: [],
                    searchDialogVisable: false,
                    modifyingUser:{},
                    modifyingUserIndex:0,
                    willAddFruitCategory: "",
                    requestFruitCategory: [],
                    requestFruits:[],
                    willAddFruit:{
                        fno:"",
                        fname:"",
                        fprice:"",
                        fcategory:"",
                        furl:"",
                        finfo:"",
                        fpubdate:""
                    },
                    requestFruitOrder:[],
                    willAddFruitOrder:{
                        oid:"",
                        confirmationtime:"",
                        totalprice:"",
                        address:"",
                        telephone:"",
                    }

                }
            }, methods: {
                ChangePanel(page, func,init)
                {
                    switch (page)
                    {
                        case 0: func(0); break;
                        case 1: func(1);init();break;
                        case 2: func(2);init();break;
                        case 3: func(3);init();break;
                        case 4: func(4);init();break;
                    }


                },
                RefreshPanel(index)
                {
                    for (let i = 0; i < this.pages.length; i++) {
                        if (i == index) {
                            this.pages[i] = true;
                        } else {
                            this.pages[i] = false;
                        }

                    }
                    console.log("面板刷新完成");
                },
                SearchUserByAccount()
                {
                    alert(this.searchAccount);
                    axios({
                        url: "searchuser",
                        params:
                        {
                            searchAccount: this.searchAccount
                        }
                    }).then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.searchedUsers = data;

                    }).catch((err) => {
                        console.log("账号查询出错了");
                        console.log(err);
                    });
                },
                CloseSearchDialog()
                {
                    this.searchDialogVisable = false;
                },
                OpenSearchDialog(index)
                {
                
                    function deepClone(obj) {
                        var _obj = JSON.stringify(obj) 
                        var objClone = JSON.parse(_obj)
                        return objClone
                    }
                    this.searchDialogVisable = true;
                    let buf = this.searchedUsers[index];
                    this.modifyingUser=deepClone(buf);
                    this.modifyingUserIndex = index;
                },
                SaveUserInfo()
                {
                    let bufinfo = this.searchedUsers[this.modifyingUserIndex];
                    let modUser = this.modifyingUser;
                    if(
                        bufinfo.account==modUser.account&&
                        bufinfo.password==modUser.password&&
                        bufinfo.gender==modUser.gender&&
                        bufinfo.telephone==modUser.telephone&&
                        bufinfo.address==modUser.address&&
                        bufinfo.email==modUser.email&&
                        bufinfo.signtime==modUser.signtime
                    )
                    {
                        //没有更改信息
                    }else
                    {   
                        axios({
                            url:"moduser",
                            method:'post',
                            data:
                            {
                                user:modUser
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("用户信息修改成功");
                            }else
                            {
                                alert("用户信息修改失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求修改用户信息出错了");
                            console.log(err);                
                        }); 

                    }


                },
                DeleteUser()
                {
                    alert("确认删除用户");
                    let modUser = this.modifyingUser;
                    console.log(modUser.uid);
                    if(modUser.uid!=undefined&&modUser.uid!=null)
                    {
                        axios({
                            url:"deluser",
                            method:'post',
                            data:
                            {
                                uid:modUser.uid
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("用户信息删除成功");
                            }else
                            {
                                alert("用户信息删除失败")
                            }
                        }).catch((err) => {
                            console.log("请求删除用户信息--出错了");
                            console.log(err);                
                        }); 

                    }
                },
                QueryAllFruitCategory()
                {
                    axios({
                        url:"getallcategory",
                        method:'get'
                    })
                    .then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.requestFruitCategory =data;
                        
                    }).catch((err) => {
                        console.log("请求水果类型-出错了");
                        console.log(err);                
                    }); 
                },
                ModifyFruitCategory(index)
                {
                    alert("修改水果类型"+index);
                    let thisObj = this;
                    let categoryData  = this.requestFruitCategory[index];
                    axios({
                            url:"modcategory",
                            method:'post',
                            data:
                            {
                                fcno:categoryData.fcno,
                                categoryName: categoryData.categoryName
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("水果类型修改成功");
                                thisObj.QueryAllFruitCategory();
                            }else
                            {
                                alert("水果类型修改失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求修改水果类型信息--出错了");
                            console.log(err);                
                        }); 
                },
                DeleteFruitCategory(index)
                {
                    alert("删除水果类型"+index);
                    let thisObj = this;
                    let categoryData  = this.requestFruitCategory[index];
                    axios({
                            url:"delcategory",
                            method:'post',
                            data:
                            {
                                fcno:categoryData.fcno,
                                categoryName: categoryData.categoryName
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("水果类型删除成功");
                                thisObj.QueryAllFruitCategory();
                            }else
                            {
                                alert("水果类型删除失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求删除水果类型信息--出错了");
                            console.log(err);                
                        }); 
                },
                AddFruitCategory()
                {
                    let thisObj = this;
                    alert("添加水果类型"+thisObj.willAddFruitCategory);
                    axios({
                            url:"addcategory",
                            method:'post',
                            data:
                            {
                                fcno:1,
                                categoryName:thisObj.willAddFruitCategory
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("水果类型添加成功");
                                thisObj.QueryAllFruitCategory();
                            }else
                            {
                                alert("水果类型添加失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求添加水果类型信息--出错了");
                            console.log(err);                
                        }); 
                },
                QueryAllFruit()
                {
                    //alert("查询所有的水果");
                    axios({
                        url:"getallfruit",
                            method:'get'
                    })
                    .then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.requestFruits =data;
                        
                    }).catch((err) => {
                        console.log("请求所有水果-出错了");
                        console.log(err);                
                    }); 
                },
                SendFruitData(mtype,mdata)
                {
                    alert("发送水果数据Type:"+mtype);
                    let thisObj = this;
                    axios({
                            url:"modfruit",
                            method:'post',
                            data:
                            {
                                type:mtype,
                                data: mdata
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("水果数据发送成功");
                                thisObj.QueryAllFruit();
                            }else
                            {
                                alert("水果数据发送失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求修改水果类型信息--出错了");
                            console.log(err);                
                        }); 
                    
                },
                QueryAllFruitOrder()
                {
                    //alert("查询所有的订单");
                    axios({
                        url:"getallorder",
                        method:'get'
                    })
                    .then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.requestFruitOrder =data;
                        
                    }).catch((err) => {
                        console.log("请求所有订单-出错了");
                        console.log(err);                
                    }); 
                },
                SendFruitOrderData(mtype,mdata)
                {
                    alert("发送订单数据Type:"+mtype);
                    let thisObj = this;
                    axios({
                            url:"modorder",
                            method:'post',
                            data:
                            {
                                type:mtype,
                                data: mdata
                            }
                        })
                        .then((result) => {
                            console.log(result);
                            let data = result.data;
                            if(data)
                            {
                                alert("订单数据发送成功");
                                thisObj.QueryAllFruitOrder();
                            }else
                            {
                                alert("订单数据发送失败")
                            }
                            
                        }).catch((err) => {
                            console.log("请求发送订单数据--出错了");
                            console.log(err);                
                        }); 
                }
            }, mounted() {

            }
        });

        backstage.mount("#backstage");
    </script>
</body>

</html>