<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>🍎网上水果店</title>
    <link rel="stylesheet" href="css/shop.css">
    <script type="text/javascript" src="./script/vue.global.js"></script>
    <script type="text/javascript" src="./script/axios.js"></script>
</head>

<body>
<div id="fruitshopapp">
    <div id="top">
        <div id="top-left">
            <div id="top-left-logo">🍉</div>
            <div id="top-left-name">水果店</div>
        </div>
        <div id="top-right">
            <div id="top-right-login">
                👨‍💻
            </div>
        </div>
    </div>
    <div id="mid">
        <div id="mid-left">
            <div id="mid-left-categroy">
                <ul>
                    <li @click="GetAllBooks()">全部</li>
                    <li v-for="category in fcategorys" @click="QueryACategoryFruits(category.fcno)">
                        {{category.categoryName}}
                    </li>
                </ul>
            </div>
        </div>
        <div id="mid-right">
            <div id="mid-right-content">
                <ul>
                    <li v-for="fruitUnit in fruitUnits">
                        <div id="fruit-unit">
                            <div id="fruit-unit-img">
                                <img v-bind:src="fruitUnit.furl" alt="fengmian">
                            </div>
                            <div id="fruit-unit-info">
                                <span style="font-weight: bolder;">{{fruitUnit.fname}}</span>
                                <span>种类:{{fruitUnit.fcategory}}</span>
                                <span>上架日期:{{fruitUnit.fpubdate}}</span>
                            </div>
                            <div id="fruit-unit-text">
                                <div id="fruit-unit-text-content"><b>简介:</b>{{fruitUnit.finfo}}</div>
                            </div>
                            <div id="fruit-unit-btn" @click="PutCart(fruitUnit)">
                                加<br>购<br>物<br>车
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="cart">
        <div id="cart-content" v-if="cartVisable">
            <div id="cart-content-bar">
                <span>购物车</span>
                <span>共计:</span>
                <span>{{totalOrderPrice}}元</span>
                <div @click="CloseCart()"></div>
            </div>
            <ul id="cart-content-ul">
                <li v-for="cartUnit in cartUnits">
                    <div id="cart-data-unit">
                        <span style="width: 40%;">{{cartUnit.data.fname}}</span>
                        <span style="width: 10%;">{{cartUnit.count}}</span>
                        <div id="cart-data-unit-del" @click="DelCartItem(cartUnit.data.fno)">
                            删除
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="service-content">
        <button id="buy-button" @click="Buy()" v-show="buyBtnVisable">Buy</button>
        <button id="cart-button" @click="OpenCart()">+</button>
    </div>
</div>
<script>
    const fruitshopapp = Vue.createApp({
        data() {
            return {
                fcategorys:[],
                fruitUnits:[],
                cartUnits:[],
                cartVisable:false,
                buyBtnVisable:false,
                totalOrderPrice:0
            }
        },
        mounted()
        {
            //===========================请求shop页数据===============================
            axios({
                url:"shop"
            }).then((result) => {
                    let data = result.data;
                    this.fcategorys = data.fruitCategoryList;
                    this.fruitUnits = data.fruitUnitList;

                })
                .catch((err) => {
                    console.log("初始化出错了");
                console.log(err);
            });
            this.OpenCart();
        },
        methods: {
            QueryACategoryFruits(mfcno)
            {
                console.log(mfcno);
                axios({
                    url:"getacategoryfruit",
                    params:
                        {
                            fcno:mfcno
                        }
                })
                    .then((result) => {
                        let data = result.data;
                        console.log(data);
                        this.fruitUnits =data;

                    }).catch((err) => {
                    console.log("请求一个类型的水果-出错了");
                    console.log(err);
                });
            },
            DelCartItem(mfno)
            {
                let mdata = this.cartUnits;
                for (var i = mdata.length - 1; i >= 0; i--)
                {
                    if (mdata[i].data.fno === mfno) {
                        mdata[i].count--;
                        if(mdata[i].count<=0)
                            mdata.splice(i, 1);
                    }
                }

            },
            CloseCart()
            {
                this.cartVisable = false;
                this.buyBtnVisable= false;
            },
            OpenCart()
            {
                this.cartVisable = true;
                this.buyBtnVisable= true;
            },
            PutCart(mfruitUnit)
            {
                console.log("添加到购物车")
                let mcartUnits = this.cartUnits;
                for(let i =0;i<mcartUnits.length;i++)
                {
                    if(mcartUnits[i].data.fno === mfruitUnit.fno)
                    {
                        mcartUnits[i].count++;
                        return;
                    }
                }

                mcartUnits.push({
                   data:mfruitUnit,
                   count:1
                });

            },
            Buy()
            {
                axios({
                    url:"buy",
                    method:'post',
                    data:
                        {
                            buyUnits:this.cartUnits
                        }
                })
                    .then((result) => {
                        //TODO
                    }).catch((err) => {
                    console.log("请求提交订单--出错了");
                    console.log(err);
                });

                alert("提交订单成功,共"+this.cartUnits.length+"种水果🍉");
            },
            GetAllBooks()
            {
                axios({
                    url:"getallfruit",
                    method:'get',
                    data: {}
                })
                .then((result) => {
                        let data = result.data;
                        this.fruitUnits = data;
                })
                .catch((err) => {
                    console.log("获取所有水果出错了");
                    console.log(err);
                });
            }
        },
        watch: {
            cartUnits(newcartUnits, oldcartUnits)
            {
                console.log("购物车数据有变化,重新计算总价格");

                this.totalOrderPrice = 0;

                for(let i = 0; i < newcartUnits.length; i++)
                {
                    this.totalOrderPrice = this.totalOrderPrice + this.cartUnits[i].bprice;
                }
            }
        }

    });

    fruitshopapp.mount("#fruitshopapp");

</script>
</body>

</html>