<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bk.efruitshopssm.mapper.AdminMapper">
    <select id="AdminLoginCheck" parameterType="com.bk.efruitshopssm.entity.Admin" resultType="int">
        select count(*)
        from shopadmin
        where adminaccount = #{adminaccount} and adminpassword = #{adminpassword}
    </select>

</mapper>