<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bk.efruitshopssm.mapper.UserMapper">
    <!--获取所有-->
    <select id="GetAllFruit" resultType="com.bk.efruitshopssm.entity.Fruit">
        select * from fruits
    </select>

    <select id="GetFruitsByCategory" parameterType="int" resultType="com.bk.efruitshopssm.entity.Fruit">
        select * from fruits where fcategory=#{fcategory}
    </select>
</mapper>